workspace/GetSubscriberInfo/Resources/GetSubscriberGeneralInfoWSDL.wsdl

<wsdl:definitions name="GetSubscriberGeneralInfo" targetNamespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp1="http://services.tigo.com.gt/GetSubscriberGeneralInfo" xmlns:inp2="http://services.tigo.com.gt/GetSubscriberGeneralInfo/xsd/GetSubscriberGeneralInfo" xmlns:tns="http://services.tigo.com.gt/GetSubscriberGeneralInfo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>https://wlstest-srv.tigo.com.gt:8002/soa-infra/services/default/GetSubscriberGeneralInfo!1.0.1/GetSubscriberGeneralInfo.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <schema targetNamespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema">
            <element name="string" type="string"/>
        </schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo/xsd/GetSubscriberGeneralInfo" schemaLocation="XMLSchema_1660992609.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SubscriberId">
        <wsdl:part name="SubscriberId" element="inp1:string"/>
    </wsdl:message>
    <wsdl:message name="Subscriber">
        <wsdl:part name="Subscriber" element="inp2:Subscriber"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="Fault" element="inp2:ExceptionFault"/>
    </wsdl:message>
    <wsdl:message name="ValidateSubscriberOutput">
        <wsdl:part name="ValidateSubscriberOutput" element="inp2:ValidateSubscriberOutput"/>
    </wsdl:message>
    <wsdl:message name="PrepaidSubscriber">
        <wsdl:part name="PrepaidSubscriber" element="inp2:PrepaidSubscriber"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="RetrieveSubscriberInfo">
            <wsdl:input message="inp1:SubscriberId"/>
            <wsdl:output message="inp1:Subscriber"/>
            <wsdl:fault name="Retrievefault" message="inp1:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="ValidateSubscriber">
            <wsdl:input message="inp1:SubscriberId"/>
            <wsdl:output message="inp1:ValidateSubscriberOutput"/>
            <wsdl:fault name="Retrievefault" message="inp1:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="RetrieveSubscriberPrePaidInfo">
            <wsdl:input message="inp1:SubscriberId"/>
            <wsdl:output message="inp1:PrepaidSubscriber"/>
            <wsdl:fault name="Retrievefault" message="inp1:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="inp1:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetrieveSubscriberInfo">
            <soap:operation style="document" soapAction="RetrieveSubscriberInfo"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="ValidateSubscriber">
            <soap:operation style="document" soapAction="ValidateSubscriber"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="RetrieveSubscriberPrePaidInfo">
            <soap:operation style="document" soapAction="RetrieveSubscriberPrePaidInfo"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetSubscriberGeneralInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetSubscriberGeneralInfo">
        <wsdl:port name="execute_pt" binding="inp1:execute_pttBinding">
            <soap:address location="http://172.30.9.9:8001/soa-infra/services/default/GetSubscriberGeneralInfo/GetSubscriberGeneralInfo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>