workspace/GetSubscriberInfo/Resources/GetVasInfoWSDL.wsdl

<wsdl:definitions name="GetVasInfo" targetNamespace="http://services.tigo.com.gt/GetVasInfo" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:inp1="http://services.tigo.com.gt/GetVasInfo/xsd/GetVasInfo" xmlns:tns="http://services.tigo.com.gt/GetVasInfo" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:documentation>
        <abstractWSDL>https://wlstest-srv.tigo.com.gt:8002/soa-infra/services/default/GetVasInfo!1.0.1/GetVasInfo.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://services.tigo.com.gt/GetVasInfo/xsd/GetVasInfo" schemaLocation="XMLSchema_752816489.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SubscriberId">
        <wsdl:part name="SubscriberId" element="inp1:SubscriberId"/>
    </wsdl:message>
    <wsdl:message name="SubscriptionCollection">
        <wsdl:part name="SubscriberCollection" element="inp1:SubscriptionCollection"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="Fault" element="inp1:ExceptionFault"/>
    </wsdl:message>
    <wsdl:message name="AvailableSubscriptionsAndPromotions">
        <wsdl:part name="AvailableSubscriptionsAndPromotions" element="inp1:AvailableSubscriptionsAndPromotions"/>
    </wsdl:message>
    <wsdl:message name="requestGetAcquiredSubscriptionsByDate">
        <wsdl:part name="requestGetAcquiredSubscriptionsByDate" element="inp1:requestGetAcquiredSubscriptionsByDate"/>
    </wsdl:message>
    <wsdl:message name="AcquiredSubscriptionsAndPromotions">
        <wsdl:part name="AcquiredSubscriptionsAndPromotions" element="inp1:AcquiredSubscriptionsAndPromotions"/>
    </wsdl:message>
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="RetriveSubscriberSubscription">
            <wsdl:input message="tns:SubscriberId"/>
            <wsdl:output message="tns:SubscriptionCollection"/>
            <wsdl:fault name="Retrievefault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetAvailableSubscriptionsAndPlans">
            <wsdl:input message="tns:SubscriberId"/>
            <wsdl:output message="tns:AvailableSubscriptionsAndPromotions"/>
            <wsdl:fault name="Retrievefault" message="tns:faultMessage"/>
        </wsdl:operation>
        <wsdl:operation name="GetAcquiredSubscriptionsByDate">
            <wsdl:input message="tns:requestGetAcquiredSubscriptionsByDate"/>
            <wsdl:output message="tns:AcquiredSubscriptionsAndPromotions"/>
            <wsdl:fault name="Retrievefault" message="tns:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_pttBinding" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="RetriveSubscriberSubscription">
            <soap:operation style="document" soapAction="RetriveSubscriberSubscription"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAvailableSubscriptionsAndPlans">
            <soap:operation style="document" soapAction="GetAvailableSubscriptionsAndPlans"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="GetAcquiredSubscriptionsByDate">
            <soap:operation style="document" soapAction="GetAcquiredSubscriptionsByDate"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://services.tigo.com.gt/GetVasInfo"/>
            </wsdl:output>
            <wsdl:fault name="Retrievefault">
                <soap:fault name="Retrievefault" use="literal" encodingStyle=""/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="GetVasInfo">
        <wsdl:port name="execute_ptt" binding="tns:execute_pttBinding">
            <soap:address location="http://172.30.9.9:8001/soa-infra/services/default/GetVasInfo/GetVasInfo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>