workspace/TigoOnline/Common/WSDL/BS_Accesos.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions targetNamespace="http://www.bytesw.com/ns/tigo/sac/accesos" name="AccesosService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bytesw.com/ns/tigo/sac/accesos" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/informacion_aparatos" schemaLocation="../XSD/InformacionApartadosAccesos.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/fault" schemaLocation="../XSD/AccesosFault.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/accesos" schemaLocation="../XSD/Accesos.xsd"/>
</xsd:schema>
</types>
<message name="ValidarAccesoAgenciaVirtual">
<part name="ValidarAccesoAgenciaVirtualRequest" element="tns:ValidarAccesoAgenciaVirtualRequest"/>
</message>
<message name="ValidarAccesoAgenciaVirtualResponse">
<part name="ValidarAccesoAgenciaVirtualResponse" element="tns:ValidarAccesoAgenciaVirtualResponse"/>
</message>
<message name="CustomerServiceFault">
<part name="fault" element="ns1:CustomerServiceFault" xmlns:ns1="http://www.bytesw.com/ns/tigo/sac/fault"/>
</message>
<message name="ValidarAccesoAtencionCliente">
<part name="ValidarAccesoAtencionClienteRequest" element="tns:ValidarAccesoAtencionClienteRequest"/>
</message>
<message name="ValidarAccesoAtencionClienteResponse">
<part name="ValidarAccesoAtencionClienteResponse" element="tns:ValidarAccesoAtencionClienteResponse"/>
</message>
<message name="CerrarSesion">
<part name="CerrarSesionRequest" element="tns:CerrarSesionRequest"/>
</message>
<message name="CerrarSesionResponse">
<part name="CerrarSesionResponse" element="tns:CerrarSesionResponse"/>
</message>
<message name="EncriptarMd5">
<part name="EncriptarMd5Request" element="tns:EncriptarMd5Request"/>
</message>
<message name="EncriptarMd5Response">
<part name="EncriptarMd5Response" element="tns:EncriptarMd5Response"/>
</message>
<portType name="AccesosEndpoint">
<operation name="ValidarAccesoAgenciaVirtual">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAgenciaVirtualRequest" message="tns:ValidarAccesoAgenciaVirtual"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAgenciaVirtualResponse" message="tns:ValidarAccesoAgenciaVirtualResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAgenciaVirtual/Fault/CustomerServiceFault"/>
</operation>
<operation name="ValidarAccesoAtencionCliente">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAtencionClienteRequest" message="tns:ValidarAccesoAtencionCliente"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAtencionClienteResponse" message="tns:ValidarAccesoAtencionClienteResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/ValidarAccesoAtencionCliente/Fault/CustomerServiceFault"/>
</operation>
<operation name="CerrarSesion">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/CerrarSesionRequest" message="tns:CerrarSesion"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/CerrarSesionResponse" message="tns:CerrarSesionResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/CerrarSesion/Fault/CustomerServiceFault"/>
</operation>
<operation name="EncriptarMd5">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/EncriptarMd5Request" message="tns:EncriptarMd5"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/EncriptarMd5Response" message="tns:EncriptarMd5Response"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/accesos/AccesosEndpoint/EncriptarMd5/Fault/CustomerServiceFault"/>
</operation>
</portType>
<binding name="AccesosPortBinding" type="tns:AccesosEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ValidarAccesoAgenciaVirtual">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
<operation name="ValidarAccesoAtencionCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
<operation name="CerrarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
<operation name="EncriptarMd5">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="AccesosService">
<port name="AccesosPort" binding="tns:AccesosPortBinding">
<soap:address location="http://172.22.52.7:8080/CustomerServices/services/Accesos"/>
</port>
</service>
</definitions>