workspace/TigoOnline/RequestCreditLimitModification/XSD/AdministracionAbonado1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	version="1.0" targetNamespace="http://www.bytesw.com/ns/tigo/sac/informacion_aparatos">

	<xs:complexType name="CustomerServiceFault">
		<xs:sequence>
			<xs:element name="errorCode" type="xs:int"></xs:element>
			<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>