workspace/TigoOnline/GetTechServiceOrders/WSDL/BS_Incidencias.wsdl

<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-b01-. --><definitions targetNamespace="http://www.bytesw.com/ns/tigo/sac/incidencias" name="IncidenciasService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.bytesw.com/ns/tigo/sac/incidencias" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<types>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/informacion_aparatos" schemaLocation="../XSD/InformacionApartadosIncidencias.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/incidencias" schemaLocation="../XSD/Incidencias.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.bytesw.com/ns/tigo/sac/fault" schemaLocation="../XSD/IncidenciasFault.xsd"/>
</xsd:schema>
</types>
<message name="ConsultarInfoReclamoSeguro">
<part name="ConsultarInfoReclamoSeguroRequest" element="tns:ConsultarInfoReclamoSeguroRequest"/>
</message>
<message name="ConsultarInfoReclamoSeguroResponse">
<part name="ConsultarInfoReclamoSeguroResponse" element="tns:ConsultarInfoReclamoSeguroResponse"/>
</message>
<message name="CustomerServiceFault">
<part name="fault" element="ns1:CustomerServiceFault" xmlns:ns1="http://www.bytesw.com/ns/tigo/sac/fault"/>
</message>
<message name="ConsultarOrdenServicioTecnico">
<part name="ConsultarOrdenServicioTecnicoRequest" element="tns:ConsultarOrdenServicioTecnicoRequest"/>
</message>
<message name="ConsultarOrdenServicioTecnicoResponse">
<part name="ConsultarOrdenServicioTecnicoResponse" element="tns:ConsultarOrdenServicioTecnicoResponse"/>
</message>
<message name="ConsultarTickets">
<part name="ConsultarTicketsRequest" element="tns:ConsultarTicketsRequest"/>
</message>
<message name="ConsultarTicketsResponse">
<part name="ConsultarTicketsResponse" element="tns:ConsultarTicketsResponse"/>
</message>
<portType name="IncidenciasEndpoint">
<operation name="ConsultarInfoReclamoSeguro">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarInfoReclamoSeguroRequest" message="tns:ConsultarInfoReclamoSeguro"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarInfoReclamoSeguroResponse" message="tns:ConsultarInfoReclamoSeguroResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarInfoReclamoSeguro/Fault/CustomerServiceFault"/>
</operation>
<operation name="ConsultarOrdenServicioTecnico">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarOrdenServicioTecnicoRequest" message="tns:ConsultarOrdenServicioTecnico"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarOrdenServicioTecnicoResponse" message="tns:ConsultarOrdenServicioTecnicoResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarOrdenServicioTecnico/Fault/CustomerServiceFault"/>
</operation>
<operation name="ConsultarTickets">
<input wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarTicketsRequest" message="tns:ConsultarTickets"/>
<output wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarTicketsResponse" message="tns:ConsultarTicketsResponse"/>
<fault message="tns:CustomerServiceFault" name="CustomerServiceFault" wsam:Action="http://www.bytesw.com/ns/tigo/sac/incidencias/IncidenciasEndpoint/ConsultarTickets/Fault/CustomerServiceFault"/>
</operation>
</portType>
<binding name="IncidenciasPortBinding" type="tns:IncidenciasEndpoint">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="ConsultarInfoReclamoSeguro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
<operation name="ConsultarOrdenServicioTecnico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
<operation name="ConsultarTickets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerServiceFault">
<soap:fault name="CustomerServiceFault" use="literal"/>
</fault>
</operation>
</binding>
<service name="IncidenciasService">
<port name="IncidenciasPort" binding="tns:IncidenciasPortBinding">
<soap:address location="http://172.22.52.7:8080/CustomerServices/services/Incidencias"/>
</port>
</service>
</definitions>